/* Default layout */
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e1e1e;
  font-family: Consolas, monaco, monospace;
  color: #ccc;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #2d2d2d;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
}

nav ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
}

nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #ccc;
  font-size: 1.8rem;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
}

nav a:hover {
  color: #fff;
}

nav a:active {
  color: #ccc;
}

#not-last {
  border-right-style: solid;
  border-right-color: #ccc;
  border-width: 2px;
}

@media screen and (max-width: 800px) {
  nav a {
    font-size: 1.2rem;
    padding-right: 3vw;
    padding-left: 3vw;
  }
}


/* Welcome page */
#welcome-img {
  height: 30vw;
  margin: auto;
  padding-bottom: 10vh;
}


/* Login and register */
.login-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ccc;
  padding: 0.4vw;
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 2.5vh;
}

.login-form button {
  background-color: transparent;
  border-style: none;
  color: #ccc;
  font-family: Consolas, monaco, monospace;
  font-size: 1.5rem;
  margin-top: 1.5vh;
  cursor: pointer;
}

.login-form button:hover {
  color: #fff;
}

.login-form button:active {
  color: #ccc;
}


/* Index page */
.main-page {
  display: flex;
  top: 8vh;
  bottom: 0;
  width: 100%;
  position: absolute;
}

/* Sidebar and main page */
.sidebar {
  width: 18vw;
  height: 100%;
  position: fixed;
  background-color: #252526;
  z-index: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  caret-color: #252526;
  transition: .5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidebar-content {
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;
  overflow-x: hidden;
  white-space: nowrap;
}

.my-effects {
  display: flex;
}

.my-effects-title {
  margin-top: 0;
  margin-bottom: 1.6vh;
  font-size: 1.6vw;
  font-weight: bold;
}

.my-effects button {
  font-size: 2vw;
  height: 2.2vw;
  width: 2.2vw;
  cursor: pointer;
  border-radius: 70%;
  border-color: #ccc;
  border-style: solid;
  margin-left: 0.8vw;
  border-width: 1px;
  background-color: transparent;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-effects button:hover {
  border-color: #fff;
  color: #fff;
}

.my-effects button:active {
  border-color: #ccc;
  color: #ccc;
}

.root-item {
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
  cursor: pointer;
  border: 1px solid transparent;
}

.root-item-untoggled:hover {
  background-color: #2a2d2e;
  caret-color: #2a2d2e;
}

.root-item img {
  height: 0.7rem;
  margin-right: 0.3vw;
}

.root-item-toggled {
  background-color: #094771;
  border-style: solid;
  border-width: 1px;
  border-color: #007fd4;
  caret-color: #094771;
}

.set-default-btn {
  background-color: #0e639c;
  color: #fff;
  width: 100%;
  border-style: none;
  padding: 7px;
  margin-top: 2vh;
  cursor: pointer;
}

.set-default-btn:hover {
  background-color: #1177bb;
}

.set-default-btn:active {
  background-color: #0e639c;
}

.exit-btn {
  width: 1.4vw;
  position: absolute;
  bottom: 9.5vh;
  cursor: pointer;
}

#exit-btn-open {
  transform: rotate(180deg);
  right: 0.7vw;
}

.closed-sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  background-color: #252526;
  overflow-x: hidden;
  transition: .5s;
}

#exit-btn-close {
  left: 0.7vw;
}

#main {
  transition: margin-left .5s;
}

/* Main section */
.main-content {
  margin-left: 18vw;
  width: 100%;
  display: flex;
  position: relative;
  padding: 1vw;
}

.background-butterfly {
  opacity: 0.1;
  height: 75vh;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  margin-top: 7vh;
  
}


/* Tree view for node list */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_treeview */

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: ">";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}