{% extends "layout.html" %}

{% block script %}
<script src="static/index.js" defer></script>
{% endblock script %}

{% block title %}
Home
{% endblock %}

{% block body %}
<!-- Pass the user_id to the js file -->
<p id="user-id" style="display: none;">{{ user_id }}</p>
<h1>Add a root</h1>
<form action="/" method="post">
    <input autocomplete="off" name="message" placeholder="Name" type="text" required>
    <button name="add-root" type="submit">Add</button>
</form>

<h1>Add child</h1>
<form action="/" method="post">
    <input autocomplete="off" name="node-id" placeholder="ID" type="text" required>
    <input autocomplete="off" autofocus name="message" placeholder="Message" type="text" required>
    <button name="add-child" type="submit">Add Child</button>
</form>

<h1>Edit message</h1>
<form action="/" method="post">
    <input autocomplete="off" name="node-id" placeholder="ID" type="text" required>
    <input autocomplete="off" name="message" placeholder="Message" type="text" required>
    <button name="edit-message" type="submit">Edit message</button>
</form>

<h1>Delete node</h1>
<form action="/" method="post">
    <input autocomplete="off" name="node-id" placeholder="ID" type="text" required>
    <button name="delete-node" type="submit">Delete Node</button>
</form>

<h1>Change default</h1>
<form action="/" method="post">
    <input autocomplete="off" name="node-id" placeholder="ID" type="text" required>
    <button name="root-session" type="submit">Change default</button>
</form>

<ul id="myUL"></ul>
{% endblock %}