{% extends "layout.html" %}

{% block script %}
<script src="static/index.js" defer></script>
{% endblock script %}

{% block title %}
Home
{% endblock %}

{% block body %}
<!-- Pass the user_id to the js file -->
<p id="user-id" style="display: none;">{{ user_id }}</p>
<form id="invis-form" action="/" method="post" style="display: none;"></form>
<div class="pop-up-forms">
    <button class="exit-pop-up-btn">&#10005;</button>
    <form id="add-root" action="/" method="post">
        <h3>Create butterfly effect</h3>
        <textarea rows="5" name="message" placeholder="Effect name (max 200 characters)" maxlength="200" type="text"
            required></textarea>
        <button name="add-root" type="submit">Add effect</button>
    </form>
    <form id="add-child" action="/" method="post">
        <h3>Add consequence</h3>
        <input id="add-child-id" name="node-id" type="hidden">
        <textarea rows="5" name="message" placeholder="Consequence (max 200 characters)" maxlength="200" type="text"
            required></textarea>
        <button name="add-child" type="submit">Add</button>
    </form>
    <form id="edit-message" action="/" method="post">
        <h3>Edit message</h3>
        <input id="edit-message-id" name="node-id" type="hidden">
        <textarea id="edit-message-ta" rows="5" name="message" maxlength="200" type="text" required></textarea>
        <button name="edit-message" type="submit">Add</button>
    </form>
    <form id="delete-node" action="/" method="post">
        <h3>Caution!</h3>
        <p>This will permanently delete this effect and all of its consequences.</p>
        <input id="delete-node-id" name="node-id" type="hidden">
        <button name="delete-node" type="submit">Confirm</button>
    </form>
</div>
<div class="main-page">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="my-effects">
                <div class="my-effects-title">My effects</div>
                <button id="add-effect-btn" title="Add effect">&#43;</button>
            </div>
            <div>
                {% if roots %}
                {% for root in roots %}
                <div class="root-item root-item-untoggled" id="{{ root['id'] }}">
                    <img src="/static/images/butterfly-lightblue.png">
                    {{ root['message'] }}
                </div>
                {% endfor %}
            </div>
            <button class="set-default-btn">Set as default</button>
            {% else %}
            Add your first effect!
        </div>
        {% endif %}
    </div>
    <img id="exit-btn-close" title="Collapse" class="exit-btn" src="/static/images/exit-grey.png">
</div>
<div class="closed-sidebar">
    <img id="exit-btn-open" title="Open sidebar" class="exit-btn" src="/static/images/exit-grey.png">
</div>
<div id="main" class="main-content">
    <div class="tools">
        <button id="add-consequence-btn" title="Add consequence"><img src="/static/images/add-child.png"></button>
        <button id="edit-message-btn" title="Edit message"><img src="/static/images/edit-icon.png"></button>
        <button id="delete-effect-btn" title="Delete effect"><img src="/static/images/bin-grey.png"></button>
    </div>
    <ul id="myUL" style="color:#ffd710"></ul>
    <div>
        <img class="background-butterfly" src="/static/images/grey-butterfly.png">
    </div>
</div>
</div>
{% endblock %}