{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

{% if not root %}
<h1>Name your first butterfly effect</h1>
<form action="/" method="post">
    <input autocomplete="off" autofocus name="root" placeholder="Name" type="text" required>
    <button type="submit">Add</button>
</form>
{% endif %}

{% if root %}
<h1>Add child</h1>
<form action="/" method="post">
    <input autocomplete="off" autofocus name="parent-key" placeholder="Parent key" type="text" required>
    <button name="add-child" type="submit">Add Child</button>
</form>
{% endif %}

{% if length %}
{{ length }}
{% endif %}

{% endblock %}