{% extends "layout.html" %}

{% block script %}
<script src="static/index.js" defer></script>
{% endblock script %}

{% block title %}
Home
{% endblock %}

{% block body %}
<!-- Pass the user_id to the js file -->
<p id="user-id" style="display: none;">{{ user_id }}</p>
<form id="invis-form" action="/" method="post" style="display: none;"></form>
<form id="add-root">
</form>
<div class="main-page">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="my-effects">
                <div class="my-effects-title">My effects</div>
                <button>&#43;</button>
            </div>
            <div>
                {% if roots %}
                {% for root in roots %}
                <div class="root-item root-item-untoggled" id="{{ root['id'] }}">
                    <img src="/static/images/butterfly-lightblue.png">
                    {{ root['message'] }}
                </div>
                {% endfor %}
            </div>
            <button class="set-default-btn">Set as default</button>
            {% else %}
            Add your first effect!
        </div>
        {% endif %}
    </div>
    <img id="exit-btn-open" class="exit-btn" src="/static/images/exit-grey.png">
</div>
<div class="closed-sidebar">
    <img id="exit-btn-close" class="exit-btn" src="/static/images/exit-grey.png">
</div>
<div id="main" class="main-content">
    <img class="background-butterfly" src="/static/images/grey-butterfly.png">
    <ul id="myUL"></ul>
</div>
</div>
{% endblock %}