{% extends "layout.html" %}

{% block title %}
Create Account
{% endblock title %}

{% block body %}
<div class="login-div">
    <form class="login-form" action="/register/" method="post">
        <input autocomplete="off" autofocus name="user" placeholder="Username" type="text" required>
        <input autocomplete="off" name="password" placeholder="Password" type="password" required>
        <input autocomplete="off" name="confirm" placeholder="Confirm password" type="password" required>
        <button type="submit">Register →</button>
    </form>
</div>
{% endblock body %}